.Cart {
    padding: 12px;
    border-left: 1px solid gray;
}

.CartItem {
    display: flex;
    flex-direction: row;
}

.quantity {
    margin-right: 12px;
}

.remove {
    margin: 12px 0 24px;
}

.Subtotal {
    position: fixed;
    bottom: 12px;
}

.bold {
    font-weight: bold;
}